## Concat metadata into monthly files

In [1]:
# general imports
import numpy as np
import pandas as pd
import subprocess
import re
pd.set_option('display.max_rows', 500)

In [2]:
def concat_metadata(file_meta, file_tweet):
    S2_concat = pd.DataFrame()
    if file_tweet == "":
        S2_concat = pd.read_csv('complete_tweets/' + file_meta, parse_dates=['date'], encoding='latin')
    else:
        S2_meta = pd.read_csv('complete_tweets/' + file_meta, parse_dates=['date'], encoding='latin')
        S2_tweet = pd.read_csv('complete_tweets/' + file_tweet, encoding='latin')
        S2_concat = pd.concat([S2_tweet, S2_meta], axis=1)
    return S2_concat

def append_metadata(file_A, file_B):
    return pd.concat([file_A, file_B], axis=0)

def write_csv(S2_write, filename):
    S2_write.to_csv('complete_tweets/' + filename, index=False)

def groupby_hour(S2):
    S2['rounded_hour'] = S2['date'].dt.round('H')
    return S2

### September

In [3]:
sept_former = concat_metadata("tweets_2018-09-01_2018-09-15_Metadata.csv", 
                             "tweets_2018-09-01_2018-09-15_Tweets.csv")
sept_latter = concat_metadata("tweets_2018-09-16_2018-09-30.csv", "")

In [4]:
sept_former.shape, sept_latter.shape

((1500, 10), (1500, 10))

In [5]:
sept = append_metadata(sept_former, sept_latter)

In [6]:
sept.shape

(3000, 10)

In [7]:
sept.tail()

,tweets,date,user_name,user_screen_name,user_followers,user_friends,user_verified,user_language,retweet_count,favorite_count
1495,** Les questions les plus posÃ©es sur le Bitco...,2018-09-29 23:55:15,Blockchain FR,blockchain__fr,795,1175,False,fr,0,0
1496,"RT @BlockchainVoice: ""For instance, an art gal...",2018-09-29 23:55:15,Chicago Edge,chicagoedgeblog,659,360,False,en,0,0
1497,"** Bitcoin : comment un spÃ©culateur perd 99,7...",2018-09-29 23:55:14,Blockchain FR,blockchain__fr,795,1175,False,fr,0,0
1498,Get Free Bitcoin https://t.co/t0DhXKSM7V,2018-09-29 23:55:07,å¤§å±±ä¸é,twktter5042,2796,3587,False,ja,0,0
1499,Get Free Bitcoin https://t.co/t0DhXKSM7V,2018-09-29 23:55:07,å¤§å±±ä¸é,twktter5042,2796,3587,False,ja,0,0

In [26]:
write_csv(sept, "complete_tweets_2018_09.csv")

### August

In [8]:
aug = concat_metadata("tweets_2018-08-01_2018-08-31_Metadata.csv", 
                             "tweets_2018-08-01_2018-08-31_Tweets.csv")

In [9]:
aug.shape

(3100, 10)

In [32]:
write_csv(aug, "complete_tweets_2018_08.csv")

### July

In [10]:
june_jul = concat_metadata("tweets_2018-06-10_2018-07-29_Metadata.csv",
                      "tweets_2018-06-10_2018-07-29_Tweets.csv")
jul_aug = concat_metadata("tweets_2018-07-30_2018-08-31_Metadata.csv",
                           "tweets_2018-07-30_2018-08-31_Tweets.csv")

In [11]:
jul_former = june_jul.iloc[2100:5000,:]

In [12]:
jul_last = jul_aug.iloc[:200,:]

In [13]:
july = append_metadata(jul_former, jul_last)

In [14]:
july.shape

(3100, 10)

In [73]:
write_csv(july, "complete_tweets_2018_07.csv")

### June

In [15]:
april_june = concat_metadata("tweets_2018-04-20_2018-06-06.csv", "")
june_middle = concat_metadata("tweets_2018-06-07_2018-06-08.csv", "")
june_jul_a = concat_metadata("tweets_2018-06-09_2018-07-16_Metadata.csv", 
                          "tweets_2018-06-09_2018-07-16_Tweets.csv")

In [16]:
june_former = april_june.iloc[4200:,:]

In [17]:
june_09 = june_jul_a.iloc[:100,:]

In [18]:
june_latter = june_jul.iloc[:2100,:]

In [19]:
june_a = append_metadata(june_former, june_middle)

In [20]:
june_b = append_metadata(june_a, june_09)

In [21]:
june = append_metadata(june_b, june_latter)

In [22]:
june.shape

(3000, 10)

In [107]:
write_csv(june, "complete_tweets_2018_06.csv")

### May

In [23]:
may = april_june.iloc[1100:4200,:]

In [24]:
may.shape

(3100, 10)

In [113]:
write_csv(may, "complete_tweets_2018_05.csv")

### April

In [25]:
mar_apr = concat_metadata("tweets_2018-03-03_2018-04-17.csv", "")
mar_apr = mar_apr[mar_apr['date'].notna()].reset_index(drop=True)
apr_mid = concat_metadata("tweets_2018-04-18_2018-04-19.csv", "")

In [26]:
apr_former = mar_apr.iloc[2900:,:]

In [27]:
apr_latter = april_june.iloc[:1100,:]

In [28]:
april_a = append_metadata(apr_former, apr_mid)
april = append_metadata(april_a, apr_latter)

In [29]:
april.shape

(3000, 10)

In [190]:
write_csv(april, "complete_tweets_2018_04.csv")

### March

In [30]:
jan_mar = concat_metadata("tweets_2018-01-15_2018-03-02.csv", "")
jan_mar = jan_mar[jan_mar['date'].notna()].reset_index(drop=True)

In [31]:
mar_former = jan_mar.iloc[4500:,:]

In [32]:
mar_latter = mar_apr.iloc[:2900,:]

In [33]:
march = append_metadata(mar_former, mar_latter)

In [34]:
march.shape

(3100, 10)

In [197]:
write_csv(march, "complete_tweets_2018_03.csv")

### Feb

In [35]:
feb = jan_mar.iloc[1700:4500,:]

In [36]:
feb.shape

(2800, 10)

In [209]:
write_csv(feb, "complete_tweets_2018_02.csv")

### Jan

In [37]:
jan_former = concat_metadata("tweets_2018-01-01_2018-01-14.csv", "")

In [38]:
jan_latter = jan_mar.iloc[:1700,:]

In [39]:
jan = append_metadata(jan_former, jan_latter)

In [40]:
jan.shape

(3100, 10)

In [216]:
write_csv(jan, "complete_tweets_2018_01.csv")

### Create Year data

In [41]:
oct_dec = concat_metadata("complete_tweets_2018_10-12.csv", "")

In [42]:
S2 = append_metadata(jan, feb)
S2 = append_metadata(S2, march)
S2 = append_metadata(S2, april)
S2 = append_metadata(S2, may)
S2 = append_metadata(S2, june)
S2 = append_metadata(S2, july)
S2 = append_metadata(S2, aug)
S2 = append_metadata(S2, sept)
S2 = append_metadata(S2, oct_dec)

In [43]:
write_csv(S2, "complete_tweets_2018_uncut.csv")

### Shape Year data

100 texts at midnight EST

In [44]:
S2 = concat_metadata("complete_tweets_2018_uncut.csv", "")
S2['rounded_hour'] = S2['date'].dt.round('1H')

In [46]:
S2_trim = S2.set_index('date')
S2_trim = S2_trim.between_time('23:45:00', '00:15:00')
S2_trim = S2_trim.groupby('rounded_hour').head(100).reset_index()

In [70]:
S2_trim.shape

(36500, 11)

In [71]:
write_csv(S2_trim, "complete_tweets_2018_trim.csv")

In [67]:
S2_check = S2_trim.copy()

In [68]:
S2_check['month'] = pd.to_datetime(S2_check['rounded_hour']).apply(lambda x: '{year}-{month}'.format(year=x.year, month=x.month))

In [69]:
S2_check.groupby('month').count()

,date,tweets,user_name,user_screen_name,user_followers,user_friends,user_verified,user_language,retweet_count,favorite_count,rounded_hour
month,,,,,,,,,,,
2018-1,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100
2018-10,3100,3100,3098,3100,3100,3100,3100,3100,3100,3100,3100
2018-11,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
2018-12,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100
2018-2,2800,2800,2800,2800,2800,2800,2800,2800,2800,2800,2800
2018-3,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100
2018-4,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
2018-5,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100
2018-6,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
2018-7,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100
2018-8,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100
2018-9,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000